Repository Dylan-Oleary/paymi: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format, pnpm --filter @paymi/supabase lint:check, pnpm --filter @paymi/supabase check:format

test
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: none

test
  applications/web/app/routes/app.budgets_.$id.$year.$month/route.tsx
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

[Chore] Remove lint-staged (#8)
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: none

supa types
  applications/web/README.md
  package.json
  services/supabase/README.md
  services/supabase/config.toml
  services/supabase/package.json
  services/supabase/src/generated/index.ts
  services/supabase/src/generated/types.ts
  services/supabase/src/index.ts
Due: pnpm --filter @paymi/supabase lint:check, pnpm --filter @paymi/supabase check:format

supa types
  .husky/pre-commit
  .husky/pre-push
Due: none

[Engineering] Generate Supabase types from script (#9)
  .husky/pre-commit
  .husky/pre-push
  applications/web/README.md
  package.json
  services/supabase/README.md
  services/supabase/config.toml
  services/supabase/package.json
  services/supabase/src/generated/index.ts
  services/supabase/src/generated/types.ts
  services/supabase/src/index.ts
Due: pnpm --filter @paymi/supabase lint:check, pnpm --filter @paymi/supabase check:format

auth loader
  applications/web/app/components/budget-card/budget-card.tsx
  applications/web/app/routes/app.budgets/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year.$month/route.tsx
  applications/web/app/routes/app.budgets_.new/route.tsx
  applications/web/app/routes/app/route.tsx
  applications/web/app/server/authenticated-loader.ts
  applications/web/app/server/index.ts
  applications/web/app/supabase/.client/connection.client.ts
  applications/web/app/supabase/.server/connection.server.ts
  applications/web/app/supabase/index.ts
  applications/web/app/supabase/shared/get-user.ts
  applications/web/app/supabase/shared/index.ts
  applications/web/app/supabase/shared/types.ts
  applications/web/app/supabase/types.ts
  pnpm-lock.yaml
  services/supabase/README.md
  services/supabase/package.json
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

sidebar update
  applications/web/app/routes/app/route.tsx
  applications/web/app/routes/app/sidebar.tsx
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

Path conditions:
  pnpm --filter @paymi/web lint:check: any of: applications/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @paymi/web check:format: any of: applications/web/**/*.{js,jsx,ts,tsx}
  pnpm --filter @paymi/supabase lint:check: any of: services/supabase/**/*.{js,jsx,ts,tsx}
  pnpm --filter @paymi/supabase check:format: any of: services/supabase/**/*.{js,jsx,ts,tsx}
