Repository Dylan-Oleary/paymi: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format, pnpm --filter @paymi/supabase lint:check, pnpm --filter @paymi/supabase check:format

lint-staged
  applications/web/app/routes/_index.tsx
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

lint-staged
  applications/web/app/routes/_index.tsx
  services/supabase/src/client.ts
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format, pnpm --filter @paymi/supabase lint:check, pnpm --filter @paymi/supabase check:format

lint-staged
  services/supabase/src/client.ts
Due: pnpm --filter @paymi/supabase lint:check, pnpm --filter @paymi/supabase check:format

[Engineering] Add husky and lint-staged (#1)
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: none

google auth
  .env.sample
Due: none

google auth
  applications/web/.env.sample
  applications/web/README.md
  applications/web/app/root.tsx
  applications/web/app/routes/_index.tsx
  applications/web/app/routes/auth.callback.tsx
  applications/web/app/routes/auth.google.tsx
  applications/web/app/routes/login.tsx
  applications/web/app/routes/logout.tsx
  applications/web/app/supabase/client.ts
  applications/web/app/supabase/index.ts
  applications/web/app/supabase/server-client.ts
  applications/web/app/supabase/types.ts
  applications/web/app/types/env.d.ts
  pnpm-lock.yaml
  services/supabase/config.toml
  services/supabase/src/client.ts
  services/supabase/src/index.ts
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format, pnpm --filter @paymi/supabase lint:check, pnpm --filter @paymi/supabase check:format

google auth
  .lintstagedrc.json
  applications/web/package.json
  package.json
  services/supabase/package.json
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format, pnpm --filter @paymi/supabase lint:check, pnpm --filter @paymi/supabase check:format

docs
  .env.sample
  README.md
  applications/web/README.md
  services/supabase/README.md
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format, pnpm --filter @paymi/supabase lint:check, pnpm --filter @paymi/supabase check:format

docs
  .env.sample
  services/supabase/README.md
  services/supabase/config.toml
Due: pnpm --filter @paymi/supabase lint:check, pnpm --filter @paymi/supabase check:format

logout headers
  applications/web/app/routes/logout.tsx
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

Update .env.sample
  .env.sample
Due: none

[Feature] Implement Google OAuth (#2)
  .env.sample
  .lintstagedrc.json
  README.md
  applications/web/.env.sample
  applications/web/README.md
  applications/web/app/root.tsx
  applications/web/app/routes/_index.tsx
  applications/web/app/routes/auth.callback.tsx
  applications/web/app/routes/auth.google.tsx
  applications/web/app/routes/login.tsx
  applications/web/app/routes/logout.tsx
  applications/web/app/supabase/client.ts
  applications/web/app/supabase/index.ts
  applications/web/app/supabase/server-client.ts
  applications/web/app/supabase/types.ts
  applications/web/app/types/env.d.ts
  applications/web/package.json
  package.json
  pnpm-lock.yaml
  services/supabase/README.md
  services/supabase/config.toml
  services/supabase/package.json
  services/supabase/src/client.ts
  services/supabase/src/index.ts
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format, pnpm --filter @paymi/supabase lint:check, pnpm --filter @paymi/supabase check:format

app layout
  applications/web/app/root.tsx
  applications/web/app/routes/_index.tsx
  applications/web/app/routes/_index/route.tsx
  applications/web/app/routes/app/route.tsx
  applications/web/app/routes/app/sidebar.tsx
  applications/web/app/routes/auth.callback/route.tsx
  applications/web/app/routes/auth.google/route.tsx
  applications/web/app/routes/login/route.tsx
  applications/web/app/routes/logout/route.tsx
  applications/web/app/supabase/types.ts
  applications/web/app/types/index.ts
  applications/web/app/types/react.d.ts
  applications/web/app/types/user.ts
  applications/web/package.json
  pnpm-lock.yaml
  services/supabase/src/index.ts
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format, pnpm --filter @paymi/supabase lint:check, pnpm --filter @paymi/supabase check:format

logo
  applications/web/app/routes/app.profile/route.tsx
  applications/web/app/routes/app/sidebar.tsx
  applications/web/app/routes/login/google-login-form.tsx
  applications/web/app/routes/login/route.tsx
  applications/web/public/images/hero.jpg
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

links
  applications/web/app/routes/app/sidebar.tsx
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

[Engineering] Implement basic app layout (#3)
  applications/web/app/root.tsx
  applications/web/app/routes/_index.tsx
  applications/web/app/routes/_index/route.tsx
  applications/web/app/routes/app.profile/route.tsx
  applications/web/app/routes/app/route.tsx
  applications/web/app/routes/app/sidebar.tsx
  applications/web/app/routes/auth.callback/route.tsx
  applications/web/app/routes/auth.google/route.tsx
  applications/web/app/routes/login.tsx
  applications/web/app/routes/login/google-login-form.tsx
  applications/web/app/routes/login/route.tsx
  applications/web/app/routes/logout/route.tsx
  applications/web/app/supabase/types.ts
  applications/web/app/types/index.ts
  applications/web/app/types/react.d.ts
  applications/web/app/types/user.ts
  applications/web/package.json
  applications/web/public/images/hero.jpg
  pnpm-lock.yaml
  services/supabase/src/index.ts
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format, pnpm --filter @paymi/supabase lint:check, pnpm --filter @paymi/supabase check:format

migration
  package.json
  services/supabase/migrations/20240807152839_init.sql
  services/supabase/package.json
Due: pnpm --filter @paymi/supabase lint:check, pnpm --filter @paymi/supabase check:format

migration
  services/supabase/migrations/20240807152839_init.sql
Due: none

save
  applications/web/app/components/index.ts
  applications/web/app/components/ui/button.tsx
  applications/web/app/components/ui/index.ts
  applications/web/app/global.css
  applications/web/app/root.tsx
  applications/web/app/routes/app/sidebar.tsx
  applications/web/app/routes/login/google-login-form.tsx
  applications/web/app/utils/cn.ts
  applications/web/app/utils/index.ts
  applications/web/components.json
  applications/web/package.json
  applications/web/tailwind.config.ts
  package.json
  pnpm-lock.yaml
  services/supabase/migrations/20240807152839_init.sql
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

save
  applications/web/app/components/ui/card.tsx
  applications/web/app/components/ui/input-with-label.tsx
  applications/web/app/components/ui/input.tsx
  applications/web/app/components/ui/label.tsx
  applications/web/app/components/ui/textarea-with-label.tsx
  applications/web/app/components/ui/textarea.tsx
  applications/web/app/routes/app.budgets/route.tsx
  applications/web/app/routes/app.profile/route.tsx
  applications/web/app/routes/app/sidebar.tsx
  applications/web/app/routes/login/google-login-form.tsx
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

typography
  applications/web/app/components/index.ts
  applications/web/app/components/typography/heading.tsx
  applications/web/app/components/typography/index.ts
  applications/web/app/components/ui/index.ts
  applications/web/app/components/ui/textarea-with-label.tsx
  applications/web/app/routes/app.budgets/route.tsx
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

functions for db
  .vscode/settings.json
  applications/web/app/components/budget-card/budget-card.tsx
  applications/web/app/components/budget-card/index.ts
  applications/web/app/components/index.ts
  applications/web/app/components/ui/chart.tsx
  applications/web/app/components/ui/index.ts
  applications/web/app/global.css
  applications/web/app/routes/app.budgets/route.tsx
  applications/web/app/routes/app.budgets_.new/route.tsx
  applications/web/package.json
  pnpm-lock.yaml
  services/supabase/migrations/20240807152839_init.sql
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

stop for now
  applications/web/app/components/budget-card/budget-card.tsx
  applications/web/app/components/ui/badge.tsx
  applications/web/app/components/ui/index.ts
  applications/web/app/routes/app.budgets/route.tsx
  applications/web/app/routes/app.budgets_.new/route.tsx
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

[Feature] Init V1 DB schema and add basic budget creation flows (#4)
  .vscode/settings.json
  applications/web/app/components/budget-card/budget-card.tsx
  applications/web/app/components/budget-card/index.ts
  applications/web/app/components/index.ts
  applications/web/app/components/typography/heading.tsx
  applications/web/app/components/typography/index.ts
  applications/web/app/components/ui/badge.tsx
  applications/web/app/components/ui/button.tsx
  applications/web/app/components/ui/card.tsx
  applications/web/app/components/ui/chart.tsx
  applications/web/app/components/ui/index.ts
  applications/web/app/components/ui/input-with-label.tsx
  applications/web/app/components/ui/input.tsx
  applications/web/app/components/ui/label.tsx
  applications/web/app/components/ui/textarea-with-label.tsx
  applications/web/app/components/ui/textarea.tsx
  applications/web/app/global.css
  applications/web/app/root.tsx
  applications/web/app/routes/app.budgets/route.tsx
  applications/web/app/routes/app.budgets_.new/route.tsx
  applications/web/app/routes/app.profile/route.tsx
  applications/web/app/routes/app/sidebar.tsx
  applications/web/app/routes/login/google-login-form.tsx
  applications/web/app/tailwind.css
  applications/web/app/utils/cn.ts
  applications/web/app/utils/index.ts
  applications/web/components.json
  applications/web/package.json
  applications/web/tailwind.config.ts
  package.json
  pnpm-lock.yaml
  services/supabase/migrations/20240807152839_init.sql
  services/supabase/package.json
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format, pnpm --filter @paymi/supabase lint:check, pnpm --filter @paymi/supabase check:format

wip
  applications/web/app/components/budget-card/budget-card.tsx
  applications/web/app/components/ui/index.ts
  applications/web/app/components/ui/tabs.tsx
  applications/web/app/routes/app.budgets_.$id.$year.$month.overview/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year.$month.transactions/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year.overview/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year.transactions/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year/sidebar.tsx
  applications/web/app/routes/app/route.tsx
  applications/web/package.json
  applications/web/tailwind.config.ts
  pnpm-lock.yaml
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

save
  applications/web/app/components/budget-card/budget-card.tsx
  applications/web/app/components/transaction-table/index.ts
  applications/web/app/components/transaction-table/transaction-table.tsx
  applications/web/app/lib/index.ts
  applications/web/app/lib/react-query/index.ts
  applications/web/app/lib/react-query/mutations/index.ts
  applications/web/app/lib/react-query/mutations/useCreateNewTransaction.tsx
  applications/web/app/lib/react-query/queries/index.ts
  applications/web/app/lib/react-query/queries/useGetMonthlyBudgetTransactions.ts
  applications/web/app/routes/app.budgets_.$id.$year.$month.overview/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year.$month.transactions/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year.$month/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year/route.tsx
  applications/web/app/routes/app/route.tsx
  applications/web/app/supabase/browser-client.ts
  applications/web/app/supabase/index.ts
  applications/web/app/utils/currency.ts
  applications/web/app/utils/index.ts
  applications/web/package.json
  pnpm-lock.yaml
  services/supabase/migrations/20240807152839_init.sql
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

transaction order
  applications/web/app/lib/react-query/queries/useGetMonthlyBudgetTransactions.ts
  applications/web/app/routes/app.budgets_.$id.$year.overview/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year.transactions/route.tsx
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

transaction order
  applications/web/app/components/index.ts
  applications/web/app/components/transaction-table/index.ts
  applications/web/app/routes/app.budgets_.$id.$year.$month.transactions/route.tsx
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

[Feature] Add basic transaction log (#5)
  applications/web/app/components/budget-card/budget-card.tsx
  applications/web/app/components/index.ts
  applications/web/app/components/transaction-table/index.ts
  applications/web/app/components/transaction-table/transaction-table.tsx
  applications/web/app/components/ui/index.ts
  applications/web/app/components/ui/tabs.tsx
  applications/web/app/lib/index.ts
  applications/web/app/lib/react-query/index.ts
  applications/web/app/lib/react-query/mutations/index.ts
  applications/web/app/lib/react-query/mutations/useCreateNewTransaction.tsx
  applications/web/app/lib/react-query/queries/index.ts
  applications/web/app/lib/react-query/queries/useGetMonthlyBudgetTransactions.ts
  applications/web/app/routes/app.budgets_.$id.$year.$month.overview/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year.$month.transactions/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year.$month/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year.overview/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year.transactions/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year/sidebar.tsx
  applications/web/app/routes/app/route.tsx
  applications/web/app/supabase/browser-client.ts
  applications/web/app/supabase/index.ts
  applications/web/app/utils/currency.ts
  applications/web/app/utils/index.ts
  applications/web/package.json
  applications/web/tailwind.config.ts
  pnpm-lock.yaml
  services/supabase/migrations/20240807152839_init.sql
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

wip
  applications/web/app/components/ui/button.tsx
  applications/web/app/components/ui/calendar.tsx
  applications/web/app/components/ui/date-picker.tsx
  applications/web/app/components/ui/index.ts
  applications/web/app/components/ui/popover.tsx
  applications/web/app/components/ui/select.tsx
  applications/web/app/components/ui/user-select.tsx
  applications/web/app/routes/app.budgets_.$id.$year.$month.transactions/route.tsx
  applications/web/package.json
  pnpm-lock.yaml
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

stop for now
  applications/web/app/components/transaction-table/transaction-table.tsx
  applications/web/app/lib/react-query/index.ts
  applications/web/app/lib/react-query/mutations/index.ts
  applications/web/app/lib/react-query/mutations/useCreateNewTransaction.ts
  applications/web/app/lib/react-query/mutations/useDeleteTransaction.ts
  applications/web/app/routes/app.budgets_.$id.$year.$month.transactions/route.tsx
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

[Feature] Create and delete transactions (#6)
  applications/web/app/components/transaction-table/transaction-table.tsx
  applications/web/app/components/ui/button.tsx
  applications/web/app/components/ui/calendar.tsx
  applications/web/app/components/ui/date-picker.tsx
  applications/web/app/components/ui/index.ts
  applications/web/app/components/ui/popover.tsx
  applications/web/app/components/ui/select.tsx
  applications/web/app/components/ui/user-select.tsx
  applications/web/app/lib/react-query/index.ts
  applications/web/app/lib/react-query/mutations/index.ts
  applications/web/app/lib/react-query/mutations/useCreateNewTransaction.ts
  applications/web/app/lib/react-query/mutations/useDeleteTransaction.ts
  applications/web/app/routes/app.budgets_.$id.$year.$month.transactions/route.tsx
  applications/web/package.json
  pnpm-lock.yaml
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

cleanup
  applications/web/app/lib/react-query/mutations/useCreateNewTransaction.ts
  applications/web/app/routes/_index/route.tsx
  applications/web/app/routes/app.budgets/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year.$month/route.tsx
  applications/web/app/routes/app.budgets_.new/route.tsx
  applications/web/app/routes/app/route.tsx
  applications/web/app/routes/app/types.ts
  applications/web/app/routes/auth.callback/route.tsx
  applications/web/app/routes/auth.google/route.tsx
  applications/web/app/routes/login/route.tsx
  applications/web/app/routes/logout/route.tsx
  applications/web/app/supabase/browser-client.ts
  applications/web/app/supabase/connection.client.ts
  applications/web/app/supabase/connection.server.ts
  applications/web/app/supabase/index.ts
  applications/web/app/supabase/types.ts
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

cleanup
  applications/web/app/lib/react-query/mutations/useCreateNewTransaction.ts
  applications/web/app/lib/react-query/mutations/useDeleteTransaction.ts
  applications/web/app/lib/react-query/queries/useGetMonthlyBudgetTransactions.ts
  applications/web/app/lib/react-query/types.ts
  applications/web/app/routes/app.budgets_.$id.$year.$month.transactions/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year/route.tsx
  applications/web/app/routes/login/google-login-form.tsx
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

cleanup
  applications/web/app/lib/react-query/mutations/useCreateNewTransaction.ts
  applications/web/app/lib/react-query/mutations/useDeleteTransaction.ts
  applications/web/app/lib/react-query/queries/useGetMonthlyBudgetTransactions.ts
  applications/web/app/lib/react-query/types.ts
  applications/web/app/routes/_index/route.tsx
  applications/web/app/routes/app.budgets/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year.$month/route.tsx
  applications/web/app/routes/app.budgets_.new/route.tsx
  applications/web/app/routes/app/route.tsx
  applications/web/app/routes/app/sidebar.tsx
  applications/web/app/routes/app/types.ts
  applications/web/app/routes/auth.callback/route.tsx
  applications/web/app/routes/auth.google/route.tsx
  applications/web/app/routes/login/route.tsx
  applications/web/app/routes/logout/route.tsx
  applications/web/app/supabase/.client/connection.client.ts
  applications/web/app/supabase/.client/index.ts
  applications/web/app/supabase/.server/connection.server.ts
  applications/web/app/supabase/.server/index.ts
  applications/web/app/supabase/index.ts
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

cleanup
  applications/web/app/supabase/types.ts
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

cleanup
  applications/web/app/supabase/.server/connection.server.ts
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

cleanup
  applications/web/app/lib/react-query/types.ts
  applications/web/app/routes/app/types.ts
  applications/web/app/supabase/.client/connection.client.ts
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

[Chore] Cleanup Supabase connections (#7)
  applications/web/app/lib/react-query/mutations/useCreateNewTransaction.ts
  applications/web/app/lib/react-query/mutations/useDeleteTransaction.ts
  applications/web/app/lib/react-query/queries/useGetMonthlyBudgetTransactions.ts
  applications/web/app/lib/react-query/types.ts
  applications/web/app/routes/_index/route.tsx
  applications/web/app/routes/app.budgets/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year.$month.transactions/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year.$month/route.tsx
  applications/web/app/routes/app.budgets_.$id.$year/route.tsx
  applications/web/app/routes/app.budgets_.new/route.tsx
  applications/web/app/routes/app/route.tsx
  applications/web/app/routes/app/sidebar.tsx
  applications/web/app/routes/app/types.ts
  applications/web/app/routes/auth.callback/route.tsx
  applications/web/app/routes/auth.google/route.tsx
  applications/web/app/routes/login/google-login-form.tsx
  applications/web/app/routes/login/route.tsx
  applications/web/app/routes/logout/route.tsx
  applications/web/app/supabase/.client/connection.client.ts
  applications/web/app/supabase/.client/index.ts
  applications/web/app/supabase/.server/connection.server.ts
  applications/web/app/supabase/.server/index.ts
  applications/web/app/supabase/browser-client.ts
  applications/web/app/supabase/index.ts
  applications/web/app/supabase/types.ts
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

cleanup
  applications/web/app/routes/app.budgets_.$id.$year.$month/route.tsx
Due: pnpm --filter @paymi/web lint:check, pnpm --filter @paymi/web check:format

Path conditions:
  pnpm --filter @paymi/web lint:check: any of: applications/web/**/*.{json,md,js,jsx,ts,tsx}
  pnpm --filter @paymi/web check:format: any of: applications/web/**/*.{json,md,js,jsx,ts,tsx}
  pnpm --filter @paymi/supabase lint:check: any of: services/supabase/**/*.{json,md,js,jsx,ts,tsx}
  pnpm --filter @paymi/supabase check:format: any of: services/supabase/**/*.{json,md,js,jsx,ts,tsx}
